asttokens==3.0.1
attrs==26.1.0
beautifulsoup4==4.14.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.2
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
csdid==0.2.9
cycler==0.12.1
debugpy==1.8.20
decorator==5.2.1
docutils==0.22.4
drdid @ git+https://github.com/d2cml-ai/DRDID@75cac04ee98959ccf1c06df80fa447cc20c8fa42
et_xmlfile==2.0.0
executing==2.2.1
fiona==1.10.1
fonttools==4.62.1
formulaic==1.2.1
geopandas==1.1.3
h11==0.16.0
id==1.6.1
idna==3.11
interface-meta==1.3.0
ipykernel==7.2.0
ipython==9.11.0
ipython_pygments_lexers==1.1.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jupyter_client==8.8.0
jupyter_core==5.9.1
keyring==25.7.0
kiwisolver==1.5.0
linearmodels==7.0
llvmlite==0.47.0
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mizani==0.14.4
more-itertools==11.0.2
mypy_extensions==1.1.0
narwhals==2.19.0
nest-asyncio==1.6.0
nh3==0.3.4
numba==0.65.0
numpy==2.4.3
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==26.0
pandas==3.0.1
parso==0.8.6
patsy==1.0.2
pillow==12.2.0
platformdirs==4.9.4
plotnine==0.15.3
prompt_toolkit==3.0.52
psutil==7.2.2
pure_eval==0.2.3
pycparser==3.0
Pygments==2.19.2
pyhdfe==0.2.0
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
pyzmq==27.1.0
readme_renderer==44.0
regex==2026.2.28
requests==2.32.5
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==15.0.0
scipy==1.17.1
selenium==4.41.0
shapely==2.1.2
shapley==1.0.2
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
stack-data==0.6.3
statsmodels==0.14.6
tornado==6.5.5
traitlets==5.14.3
trio==0.33.0
trio-websocket==0.12.2
twine==6.2.0
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wcwidth==0.6.0
websocket-client==1.9.0
wrapt==2.1.2
wsproto==1.3.2
